<h1>Users</h1>
<table border="1">
    <tr>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>roles</th>
    </tr>
    <tr *ngFor="let item of users| async">
        <th>{{item.username}}</th>
        <th>{{item.phone}}</th>
        <th>{{item.email}}</th>
        <th>{{item.roles}}</th>
    </tr>
    </table>


<h1>User-Role</h1>

<table border="1">
<tr>
    <th>name</th>
    <th>role</th>
</tr>
<tr *ngFor="let item of users| async">
    <th>{{item.username}}</th>
    <th>{{item.roles}}</th>
</tr>
</table>

<h1>Role</h1>

<table border="1">
    <tr>
        <th>name</th>
        <th>users</th>
    </tr>
    <tr *ngFor="let item of roles| async">
        <th>{{item.name}}</th>
        <th>{{item.users}}</th>
    </tr>
    </table>