<div *ngIf="allowedToEnter;else noRights">
    <div class="container">
        <nav>
            <ul class="navbar">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="left"><a
                        routerLink="/admin/user">Users</a></li>
                <li routerLinkActive="active"><a routerLink="/admin/role">Roles</a> </li>
                <li routerLinkActive="active"><a routerLink="/admin/product">Products</a> </li>
                <li routerLinkActive="active"><a routerLink="/admin/category">Categories</a> </li>
                <li routerLinkActive="active" class="right"><a routerLink="/admin/orders">Orders</a> </li>
            </ul>
        </nav>
    </div>
    <div class="data">
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #noRights>
    <div class="notAdmin">
        <p>NOT ADMIN</p>
    </div>
</ng-template>