input[type=text]{
    padding:5px;
    margin:5px 0; 
}

.input-border input{
    border: 0;
    margin:5px;
    border-radius:5px;
   
}

h1{
    text-align: center;
}

.input-border {
    text-align: center;
   
}