
.products{
    font-family: sans-serif;
    text-align: center;
}


ul.product{
    margin: 0%;
}


ul.product li  {
    display: inline;
}

ul.product img{
    display: inline-block; 
    border: 2px solid #fff; 
}

.ng{
    float: left;
}

.product-content{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c0c0c0;
    display: inline-block; 
    margin-top: 20px;
    background-color: rgb(240, 220, 184);
}

.rout{
    text-align: right; 
    margin-right: 200px; 
    margin-top: 40px;
  }

  .form .message p {
    color: #8f8e8e;
    font-size: 15px;
    margin-top: 0px;
    margin: 0px 0px;
  }