<!-- 
<div class="products">
    <div *ngFor = 'let lst of  stringIdList' class="ng"> 
    <ul class="product"> 
       <li>
         <a routerLink="/">
           <img src={{lst}} width="200" height="200">
         </a>
           <h3>описание товара</h3>
       </li>  
    </ul> 
    <div *ngFor = 'let lst of  stringIdList' class="ng"> 
 
 </div>

 текст -->

 <button (click)="addBucket()">Корзина</button>
<div *ngIf="clickBucket">
<bucket-component></bucket-component>
</div>
 
 <div class="products">
  <div *ngFor = 'let lst of  products2 ;let idx=index' class="ng"> 
  <ul class="product"> 
     <li>
       <div class="product-content">
         <img src={{lst.image}} width="200" height="200">
      
         <h3>{{lst.name}}</h3>
         <div class="product-text">
         <p>Цена: {{lst.price}}</p>
         <p>Категория: {{lst.category}}</p>
         <p>Количество: {{lst.count}}</p>
         <input type="text" name="count" placeholder="Количество" [(ngModel)]="count[idx]">
         <button (click)="onSubmit(lst,count[idx])">Купить</button>
        </div>
        </div>
     </li>  
  </ul> 
  </div>

</div>

