<table border="1">
    <tr class="hedder">
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>roles</th>
    </tr>
    <tr *ngFor="let item of users| async">
        <th>{{item.username}}</th>
        <th>{{item.phone}}</th>
        <th>{{item.email}}</th>
        <th>{{item.roles}}</th>
    </tr>
    </table>

    <div class="container">
        <nav >
          <ul class="navbar">
            <li routerLinkActive="active" (click)="methodCanAddUser()" class="left" ><a routerLink={{buttonAdd}}>Добавить</a></li>
            <li routerLinkActive="active" (click)="methodDeleteUser()" ><a routerLink={{buttonDelete}}>Удалить</a></li>
            <li routerLinkActive="active" (click)="methodUpdateUser()" class="right"><a routerLink={{buttonUpdate}}>Изменить</a></li>
          </ul>
        </nav>
    </div>
    <div class="data">
        <router-outlet></router-outlet>
    </div>