<div>
    <table border="1">
        <tr class="hedder">
            <th>№</th>
            <th>name</th>
            <th>phone</th>
            <th>email</th>
            <th>roles</th>
        </tr>
        <tr *ngFor="let item of users; let idx=index">
            <th>{{idx+1}}</th>
            <th>{{item.username}}</th>
            <th>{{item.phone}}</th>
            <th>{{item.email}}</th>
            <th>{{item.roles}}</th>
        </tr>
    </table>
</div>

<div class="container">
    <nav>
        <ul class="navbar">
            <li routerLinkActive="active" (click)="methodDeleteUser()"><button>Delete</button></li>
            <li routerLinkActive="active" (click)="methodUpdateUser()" class="right"><button>Update</button></li>
        </ul>
    </nav>
</div>

<div *ngIf="buttonDelete" class="delete-border">
    <div class="input-border">
        <form class="form" (ngSubmit)="f.form.valid && deleteUser(name)" #f="ngForm" novalidate>
            <h1>Delete</h1>
            <input type="text" class="input-text" placeholder="UserName" maxlength="50" required name="Name"
                [(ngModel)]="name">
            <button>Delete</button>
            <div *ngIf="f.submitted && isEror" class="alert alert-danger">
                {{errorMessage}}
            </div>
        </form>
    </div>
</div>

<div class="update-element">
    <div *ngIf="buttonUpdate" class="input-border">
        <form class="form" (ngSubmit)="f.form.valid && updateUser(templateUser)" #f="ngForm" novalidate>
            <h1>Update</h1>
            <input type="text" placeholder="Name" required maxlength="50" name="userName"
                [(ngModel)]="templateUser.username">
            <input type="text" placeholder="+7 (999) 999-99-99"
                pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" minlength="18" maxlength="18"
                name="userPhone" [(ngModel)]="templateUser.phone">
            <input type="text" placeholder="Email" required pattern="\S+@[a-z]+.[a-z]+" maxlength="50" name="email"
                [(ngModel)]="templateUser.email">
            <input type="text" placeholder="Roles" required maxlength="50" name="userName"
                [(ngModel)]="templateUser.roles">
            <button>Update</button>
            <div *ngIf="f.submitted && updateEror" class="alert alert-danger">
                {{errorMessage}}
            </div>
        </form>
    </div>
</div>

<div class="footer">
</div>